<!DOCTYPE html>
<html>
<head>  
    <title>Sunfy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="../dist/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../dist/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    <!-- Theme skin -->
    <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic">

</head>

<body class="sidebar-mini skin-black sidebar-collapse">

<div class="wrapper">
 <header class="main-header">
  <!-- Logo -->
  <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">s<span style="color:orange;margin:1px;">fy</span></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">sun<span style="color:orange;margin:1px;">fy</span></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
  
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                <span class="hidden-xs">Xtranghero</span>
              </a>
              <ul class="dropdown-menu">
                
                <!-- Menu Body -->
                <li class="user-body">
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                  <!-- /.row -->
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
          </ul>
        </div>
      </nav>  
 </header>
 
 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
     
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <!--<li class="header"><span>FAB<span style="color:orange;margin:1px;">4</span></li>-->
        <!--<li class="active treeview">-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Engineering</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Manufacturing</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Yield</a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-hourglass-half"></i>
            <span>Realtime</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> (loop process list here)</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-history"></i> <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Cycle time </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> WIP & Outs </a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-database"></i>
            <span>Services</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Andon board</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> CoA uploader</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Fab Lot extractor</a></li>
          </ul>
        </li>
        
        
        <li class="header">ABOUT</li>
        <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Information</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= process %>
        <small>realtime</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Realtime</li>
      </ol>
    </section>

    <!-- Main Body -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <section class="col-lg-6">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">
                        <li class="pull-left header"><i class="fa fa-line-chart"></i> Linearity</li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="chart tab-pane active" id="linearity-chart" style=" height: 300px;"></div>
                    </div>
                </div>
            </section>
            <section class="col-lg-6">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">
                        <li class="pull-left header"><i class="fa fa-bar-chart"></i> OEE</li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="chart tab-pane active" id="oee-chart" style=" height: 300px;"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- second main row -->
        <div class="row">
                <section class="col-lg-6">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right">
                            <li class="pull-left header"><i class="fa fa-line-chart"></i> % Yield Loss</li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="chart tab-pane active" id="yield-chart" style=" height: 300px;"></div>
                        </div>
                    </div>
                </section>
                <section class="col-lg-6">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right">
                            <li class="pull-left header"><i class="fa fa-bar-chart"></i> Scrap DPPM</li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="chart tab-pane active" id="scrap_chart" style=" height: 300px;"></div>
                        </div>
                    </div>
                </section>
            </div>
    </section>

    
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>v</b> 1.0.0
    </div>
    <strong> &copy; 2018 <a href="#">sunfy</a></strong> | For Ops. By Ops.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- end of wrapper -->


<script src="../dist/js/jquery.min.js"></script>
<script src="../dist/js/jquery-ui.min.js"></script>
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/jquery.slimscroll.min.js"></script>
<script src="../dist/js/fastclick.js"></script>
<script src="../dist/js/adminlte.min.js"></script>
<script src="../dist/js/plotly-latest.min.js"></script>
<script src='../dist/js/socket.io.js'></script>

<script> // date time on socket
    $(function(){
        var socket = io();
        let dateAndprocess_obj = [];
            dateAndprocess_obj.push({
                dtime: new Date(), 
                process_name: '<%= process %>'
            });
        
        /** socket emitters */
        socket.emit('dateAndprocess', dateAndprocess_obj ); // emitter for Linearity
        socket.emit('yieldPerTool', dateAndprocess_obj ); // emitter for yield
        socket.emit('scrapDPPM', dateAndprocess_obj ); // emitter for scrap dppm
        socket.emit('oee', dateAndprocess_obj ); // emitter for oee
        /** -- socket emitters -- */

        /** socket listeners */
        socket.on('dateAndprocess', function(linear_traces){ // linearity listener
            console.log(linear_traces);

            /** Linearity Chart */
            var dataLinear = linear_traces;
            var layout = {
                    title: ('<%= process %>').toUpperCase() + ' Linearity'
                };

            Plotly.newPlot('linearity-chart', dataLinear, layout, {displayModeBar: false});
            Plotly.update('linearity-chart', dataLinear, layout );
            /** -- Linearity Chart -- */

            let dateAndprocess_obj = [];
            dateAndprocess_obj.push({
                dtime: new Date(), 
                process_name: '<%= process %>'
            });
            socket.emit('dateAndprocess', dateAndprocess_obj );

        });

        socket.on('yieldPerTool', function(yield_objects){ // yield per tool listener
            console.log(yield_objects);

            /** YieldperTool Chart */
            var dataYield = yield_objects;
            var layout = {
                    title: ('<%= process %>').toUpperCase() + ' | % Yield loss',
                    margin: {
                    l: 170,
                    r: 30,
                    b: 50,
                    t: 100,
                    pad: 4
                },
            };

            Plotly.newPlot('yield-chart', dataYield, layout, {displayModeBar: false});
            Plotly.update('yield-chart', dataYield, layout );
            /** -- YieldperTool Chart -- */

            let dateAndprocess_obj = [];
            dateAndprocess_obj.push({
                dtime: new Date(), 
                process_name: '<%= process %>'
            });
            socket.emit('yieldPerTool', dateAndprocess_obj );
        });

        socket.on('scrapDPPM', function(scrap_objects){ // scrap dppm listener
            console.log(scrap_objects);

            /** scrap DPPM  chart */
            var dataScrap = scrap_objects;
            var layout = {
                title: ('<%= process %>').toUpperCase() + ' | Top 5 Scrap (DPPM)',
                    margin: {
                    l: 170,
                    r: 30,
                    b: 50,
                    t: 100,
                    pad: 4
                },
            }
            Plotly.newPlot('scrap_chart', dataScrap, layout, {displayModeBar: false});
            Plotly.update('scrap_chart', dataScrap, layout );
            /** -- scrap DPPM  chart -- */

            let dateAndprocess_obj = [];
            dateAndprocess_obj.push({
                dtime: new Date(), 
                process_name: '<%= process %>'
            });
            socket.emit('scrapDPPM', dateAndprocess_obj );
        });

        socket.on('oee', function(OEE_trace){
            console.log(OEE_trace);

            /** oee chart */
            var dataLineOEE = OEE_trace;
            var layout = {
                title: ('<%= process %>').toUpperCase() + ' | OEE',
                margin: {
                    l: 80,
                    r: 100,
                    b: 100,
                    t: 50,
                    pad: 4
                },
            }
            Plotly.newPlot('oee-chart', dataLineOEE, layout, {displayModeBar: false});
            Plotly.update('oee-chart', dataLineOEE, layout );
            /** -- oee chart -- */
            
            let dateAndprocess_obj = [];
            dateAndprocess_obj.push({
                dtime: new Date(), 
                process_name: '<%= process %>'
            });
            socket.emit('oee', dateAndprocess_obj ); // emitter for oee
        });
        /** -- socket listeners -- */
        
    });
</script>
</body>
</html>